<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                Producto Eliminado
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>