<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
        <main>
            <img class="error-404" src="/images/error-404.png" alt="Error-404" style="width: 45%;
                margin: 50px auto; display: block;">

        </main>

        <%- include('../partials/footer') %>

</body>

</html>