* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

img {
    vertical-align: middle;
    width: 100%;
    padding: 45px;
}


h3.titulo {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

h4.titulo-curso {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 45px;
    font-size: 20px;
    color: #fff;
}

/* Lista container */
.lista-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.sala-summary {
    margin-top: -30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #edae1a;
    border-radius: 30px;
    border: solid 2px black;
    padding: 8px;
}

.curso-summary {
    margin-top: -30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    color: #fff;
    background-color: #edae1a;
    border-radius: 30px;
    border: solid 2px black;
    padding: 5px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #edae1a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 10px;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(30, 29, 29, 0.682);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

h6.price {
    margin-left: 10px;
    font-size: 20px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

button.btn.btn-small.addToCart {
    margin-left: 45px;
}

button {
    background: #666;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #edae1a;
    color: #fff;
    transition:
        background-color, 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


@media (max-width: 425px) {

    .prev,
    .next,
    .text {
        font-size: 11px;
    }

    h6.price {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 8px;
    }

    h3.titulo {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
}