<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main>
                <section class="info-about">
                    <div class="description-about">
                        <div class="about">
                            <h2 class="about-1">Quienes</h2> <h2 class="somos"> Somos</h2>
                        </div>
                        <p class="about-us">Somos un emprendimiento de músicos creado para vos. Contamos con cursos en
                            donde vas a poder
                            aprender
                            a manejar tu instrumento favorito, acompañados de excelentes profesores capaces de crear tu
                            mejor
                            versión musical.
                            También contamos con un servicio de alquiler de salas donde vos y tu banda van
                            a
                            poder crear y ensayar con equipos e instrumentos de la mejor calidad.
                        <p class="about-us-2">La decisión es tuya, ¿Te lo vas a perder?</p>
                        <div class="logo-2">
                            <img id="logo-about" src="/images/logo1771.png" alt="logo1771" style="width: 100%; height: 75%;">
                        </div>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>
    </body>

    </html>