<footer>
    <div class="container">
        <section class="information">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../about">Sobre nosotros</a></li>
                <div class="redes">
                    <a href="https://www.facebook.com/" target="_blank" rel="nooper noreferrer">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>

                    <a href="https://www.instagram.com/" target="_blank" rel="nooper noreferrer">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>

                    <a href="https://twitter.com/" target="_blank" rel="nooper noreferrer">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </div>
            </ul>
        </section>

        <section class="search-button-container">
            <p>Contacto</p>
            <div class="search-container">
                <input type="text" placeholder="Ingresa tu E-mail">
                <button class="ov-btn-grow-spin" type="submit">
                    <i class="fas fa-share-square"></i> Enviar </button>
            </div>
        </section>

    </div>
</footer>